fileTypes: [
  "scl"
]
# foldingStartMarker: ""
# foldingStopMarker: "^\\s*\\}"
name: "PTC Creo Color Scheme .scl"
scopeName: "text.ptc-config.scl"
patterns: [
  {
    match: "\\b(?i:(BLENDED_BACKGROUND|COLOR_SCHEME|SYSTEM_BACKGROUND_COLOR|SYSTEM_BOTTOM_BLENDING_COLOR|SYSTEM_CURVES_COLOR|SYSTEM_DATUM_COLOR|SYSTEM_DIMMED_MENU_COLOR|SYSTEM_EDGE_HIGH_COLOR|SYSTEM_GEOMETRY_COLOR|SYSTEM_HIDDEN_COLOR|SYSTEM_HIGHLIGHT_COLOR|SYSTEM_LETTER_COLOR|SYSTEM_PRESEL_HIGHLIGHT_COLOR|SYSTEM_PREVIEW_GEOM_COLOR|SYSTEM_QUILT_COLOR|SYSTEM_SECONDARY_PREVIEW_COLOR|SYSTEM_SECONDARY_SELECTED_COLOR|SYSTEM_SECTION_COLOR|SYSTEM_SELECTED_COLOR|SYSTEM_SHADED_EDGE_COLOR|SYSTEM_SHEETMETAL_COLOR|SYSTEM_TOP_BLENDING_COLOR|SYSTEM_VOLUME_COLOR|USE_PRE_WILDFIRE_ENTITY_COLOR))\\b"
    name: "keyword.other.start.scl"
  },
  {
    include: "text.ptc-config"
  }
]
