# This includes settings that are common to all these configuration file types:
fileTypes: [
]
name: "PTC-config ModelCheck"
scopeName: "text.ptc-config-modelcheck"
patterns: [
  {
    match: "^(#|!).*$"
    name: "comment.pro"
  },
  {
    match: '\\b(?i:(EQ|NEQ|GTE|LTE))\\b'
    name: 'keyword.operator.comparison.pro'
  },
  {
    comment: 'Placeholders used in ModelCHECK'
    match: '([\$|\#|\?|\*]+)'
    name: 'keyword.operator.placeholder.pro'
  }
  {
    comment: 'list prefix for lists of values'
    match: '(LIST_)'
    name: 'support.function.magic.pro'
  }
]
